---
layout: default
---

<div class="row">
  <div class="col-xs-10 col-xs-push-1 col-sm-4 col-sm-push-0 margin-bottom-20">
   <img class="appicon" src="icon.png">
   <h3>{{ page.displayTitle }}</h3>
   <h6 id="version"></h6>

   <div class="row">
     <div class="col-xs-6">
       <div id="rating" class="margin-bottom-10"></div>
     </div>
     <div class="col-xs-6">
       <a id="reviewcount" class="pull-right" href="#reviewsTitle"></a>
     </div>
   </div>

   <a id="price" href="{{ page.url }}" class="btn btn-block btn-success btn-lg" role="button"></a>

  </div>

  {% if page.screenshotsAreLandscape %}
  <div class="col-xs-12 col-sm-8">
  {% else %}
  <div class="col-xs-12 col-sm-4 col-sm-offset-2">
  {% endif %}

   <div role="tabpanel">

     <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" class="active"><a href="#iPhone" aria-controls="home" role="tab" data-toggle="tab">iPhone</a></li>
       <li role="presentation"><a href="#iPad" aria-controls="profile" role="tab" data-toggle="tab">iPad</a></li>
     </ul>

     <!-- Tab panes -->
     <div class="tab-content">
       <div role="tabpanel" class="tab-pane fade in active" id="iPhone">
         <div id="carousel-screenshots-iphone" class="carousel slide" data-ride="carousel">
           <!-- Indicators -->
           <ol class="carousel-indicators">
             {% for i in page.iPhoneScreenshots %}
               <li data-target="#carousel-screenshots-iphone" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
             {% endfor %}
           </ol>

           <!-- Wrapper for slides -->
           <div class="carousel-inner" role="listbox">
             {% for screenshot in page.iPhoneScreenshots %}
               <div class="item {% if forloop.first %}active{% endif %}">
                 <img src="{{ screenshot }}">
               </div>
             {% endfor %}
           </div>

           <!-- Controls -->
           <a class="left carousel-control" href="#carousel-screenshots-iphone" role="button" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="right carousel-control" href="#carousel-screenshots-iphone" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
         </div>
       </div>
       <div role="tabpanel" class="tab-pane fade" id="iPad">
         <div id="carousel-screenshots-ipad" class="carousel slide" data-ride="carousel">
           <!-- Indicators -->
           <ol class="carousel-indicators">
             {% for i in page.iPadScreenshots %}
               <li data-target="#carousel-screenshots-iphone" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
             {% endfor %}
           </ol>

           <!-- Wrapper for slides -->
           <div class="carousel-inner" role="listbox">
             {% for screenshot in page.iPadScreenshots %}
               <div class="item {% if forloop.first %}active{% endif %}">
                 <img src="{{ screenshot }}">
               </div>
             {% endfor %}
           </div>

           <!-- Controls -->
           <a class="left carousel-control" href="#carousel-screenshots-ipad" role="button" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="right carousel-control" href="#carousel-screenshots-ipad" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
         </div>
       </div>
     </div>
   </div>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12">
   <h4>Description</h4>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12">
   <p id="description"></p>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12">
   <h4 id="whatsnewtitle"></h4>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12">
   <p id="whatsnew"></p>
  </div>
  </div>

  <div class="row">
  <div id="reviewsTitle" class="col-xs-12">
   <h4>User Ratings</h4>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12">
   <div id="reviews">
   </div>
  </div>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    requestInfo();
    requestRatings();
  });

  function requestInfo() {
    var request = {type: "GET", url: "https://itunes.apple.com/lookup?id={{ page.id }}", processData: true, dataType: "jsonp", async: true};
  	var req = $.ajax(request);
  	req.done(handleInfo);
  }

  function handleInfo(response) {
    var results = response.results;
    for (var i = 0; i < results.length; i++) {
      var item = results[i];
      jQuery("#version").html("Version: " + item.version);
      jQuery("#price").html(item.formattedPrice);
      jQuery("#description").html(item.description.replace(/\n/g, "<br/>"));
      jQuery("#whatsnewtitle").html("What's New in Version " + item.version);
      jQuery("#whatsnew").html(item.releaseNotes.replace(/\n/g, "<br/>"));
      jQuery("#rating").html(stars(item.averageUserRating));

      if (item.userRatingCount == 0 || item.userRatingCount > 1) {
        jQuery("#reviewcount").html("{0} User Ratings".replace("{0}", item.userRatingCount));
      } else {
        jQuery("#reviewcount").html("1 User Rating");
      }
    }
  }

  function requestRatings() {
    var request = {type: "GET", url: "http://itunes.apple.com/rss/customerreviews/id={{ page.id }}/json", processData: true, dataType: "jsonp", async: true};
    var req = $.ajax(request);
    req.done(handleRatings);
  }

  function handleRatings(response) {
    if (response.feed.hasOwnProperty("entry")) {
      var entries = response.feed.entry;
      for (var i = 1; i < entries.length && i <= 10; i++) {
        if (entries[i]['im:rating'].label >= 4) {
          var html = '<blockquote>';
          html += '<h4>{0}</h4><h5>{1}</h5>'.replace("{0}", entries[i].title.label)
                                    .replace("{1}", stars(parseInt(entries[i]['im:rating'].label)));
          html += '<p class="text-muted">{0}</p>'.replace("{0}", entries[i].content.label);
          html += '<footer>{0}</footer>'.replace("{0}", entries[i].author.name.label);
          html += '</blockquote>';

          jQuery("#reviews").append(html);
        }
      }
    } else {
      requestRatings();
    }
  }

  function stars(rating) {
    var ratingHtml = '';
    for (var r = 1; r <= Math.ceil(rating); r++) {
      if (r == Math.ceil(rating) && rating !== parseInt(rating, 10)) {
        ratingHtml += '<i class="fa fa-star-half">&nbsp;</i>';
      } else {
        ratingHtml += '<i class="fa fa-star">&nbsp;</i>';
      }
    }
    return ratingHtml;
  }
</script>
